       * {
           margin: 0;
           padding: 0;
           box-sizing: border-box;
           font-family: "Open Sans", sans-serif;
       }

       .container {
           border: solid 0, 4px #D99100;
           height: 100vh;
           text-align: center;
           justify-content: center;
       }

       .borda {
           border: solid 1px #063C72;
           background-color: #063C72;
           color: white;
           outline: none;
           padding: 50px;
       }

       .altura {
           height: 100%;
       }

       input {
           border-radius: 1px;
           padding: 12px 2px;
           width: 100%;
           color: white;
           margin-bottom: 5px;
           border: none;
           outline: none;
           background-color: #063C72;
           border-bottom: solid 3px white;
       }

       input::placeholder {
           color: rgb(130, 143, 152);
           font-size: 14px;
           position: relative;
           top: -2px;
       }


       .button {
           width: 100%;
           text-align: center;
           margin-top: 60px;
       }

       .button button {
           width: 100%;
           padding: 15px;
           background-color: #D99100;
           margin-bottom: 10px;

           /* Cor do botão */
           color: white;
           border: none;
           border-radius: 5px;
           cursor: pointer;
           font-family: "Open Sans", sans-serif;
           font-size: 20px;
           font-weight: bold;
           transition: background-color 0.3s ease;
       }

       .button button:hover {
           background-color: rgb(58, 215, 92);
           scale: 1.1;
           transition: 10ms;
       }

       .a {
           padding: 100px;

       }

       .legend {
           background-color: white;
           height: 100vh;
           display: flex;
           flex-direction: column;
           padding: 50px;
       }

       .legend h1 {
           border: solid 2px #D99100;
           background-color: #D99100;
           color: white;
           margin-top: 10px;
           font-size: 70px;
       }

       img {
           margin-top: 20px;
           align-items: center;
           justify-content: center;
       }

       .open-modal {
           color: blue;
           text-decoration: underline;
           cursor: pointer;
       }

       /* Modal base */
       .modal {
           display: none;
           /* escondido por padrão */
           position: fixed;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           background-color: rgba(0, 0, 0, 0.5);
           justify-content: center;
           align-items: center;
       }

       /* Conteúdo do modal */
       .modal-content {
           background-color: white;
           padding: 20px;
           border: solid 2px black;
           border-radius: 8px;
           width: 450px;
           display: flex;
           flex-direction: column;
           gap: 8px;
           position: relative;
       }

       .modal-content h2 {
           margin-top: 0;
       }

       .modal-content label {
           text-align: left;
           margin-top: 20px;
       }

       .modal-content input {
           padding: 8px;
           border: solid 1px black;
           background-color: rgb(91, 101, 211);
           border-radius: 4px;
           margin-bottom: 20px;
       }

       .modal-content button {
           padding: 10px;
           background-color: green;
           border: none;
           border-radius: 4px;
           cursor: pointer;
       }

       .modal-content .close {
           position: absolute;
           top: 8px;
           right: 12px;
           font-size: 20px;
           cursor: pointer;
       }